<article class="staticPage">
  <H2> Сотрудничество </h2>
  <section class="columns">
    <div>
      <p> Мы всегда рады встречам с выпускниками и друзьями нашего факультета. </p>
      <p> Мы гордимся достижениями и успехами наших бывших студентов.</p>
      <p> Мы готовы прийти на помощь и поддержать членов нашей ассоциации. </p>
      <p> Мы предлагаем на рассмотрение такие пути взаимодействия </p>
      <ol>
        <li> Организация встреч выпускников с привлечением бывших преподавателей и руководителей факультета </li>
        <li> Проведение Дней открытых дверей для выпускников факультета и членов их семей. </li>
        <li> Проведение мастер-классов для студентов факультета выпуск ми, достигших высокого уровня компетенции в профессиональной
          деятельности по направлению КН ​​</li>
        <li> Организация и проведение совместных научно-практических конференций, семинаров, вебинаров с нынешними специалистами,
          которые учились на КН </li>
        <li> Мы готовы направлять на учебно-производственную практику к нашим выпускникам нынешних студентов </li>
        <li> Мы можем рекомендовать лучших молодых выпускников на работу в старших и опытных. </li>
        <li> Мы рассмотрим любые ваши предложения и найдем пути их реализации</li>
      </ol>
    </div>
    <address>
      <h2> Контакты </h2>
      <p> Главный корпус, 2 этаж, ком. 261-263 </p>

      <a href="tel:+380577021350">+38 (057) 702-13-50</a>
      <a href="mailto:f_cs@nure.ua">f_cs@nure.ua</a>
    </address>
  </section>

  <style>
    .columns {
      display: flex;
    }

    address {
      padding: 0 1rem;
      font-style: inherit;
      min-width: 11rem;
      background-color: #f9f6ed;
      border: 1px solid #f2ebd7;
      border-radius: 10px;
    }
  </style>
</article>