<article class="staticPage">

  <h2> История факультета компьютерных наук </h2>

  <p> История нашего факультета начинается еще с далекого 1947 года, когда Харьковский горно-индустриальный институт реорганизовался
    в Харьковский горный институт (ХГИ: 1947-1962 г.) и на его базе сформировались 4 факультета: </p>

  <ul>
    <li> - факультет горной автоматики - включал 8 кафедр и 2 специальности; </li>
    <li> - шахтостроительный факультет - включал 6 кафедр; </li>
    <li> - горно-электромеханический факультет - включал 11 кафедр; </li>
    <li> - факультет промышленного транспорта - включал 4 кафедры </li>
  </ul>

  <p> Первый 1947/1948 учебный год институт начал с 800 студентами на всех курсах. Набор происходил в сложных условиях - в Харькове
    из 27 средних школ 20 школ были женскими. </p>

  <p> В 1952/53 учебном году на 4-х курсах ХГИ обучалось уже 2484 студента. </p>

  <p> В 1958 году на факультете горной автоматики появилась новая специальность - горная автоматика и телемеханика. </p>

  <p> Деканом факультета до 1962 года был профессор, д.т.н. Тиховидов Б.Д. </p>

  <p> В этот период значительно изменяется структура института, уменьшается количество факультетов до 3-х, однако, значительно
    увеличивается количество выпускаемых специальностей. Наш факультет также подвергается значительным изменениям - из факультета
    Горной Автоматики он превратится в факультет автоматики и приборостроения. </p>

  <p> Профилирующей кафедрой факультета была кафедра автоматики и телемеханики, руководимая профессором, д.т.н. Иванченко Е.Я.
    деканом факультета становится доцент Михайлов В.А. </p>

  <p> В 1966 году вновь происходит реорганизация института. Приказом Минвуза СССР от 10.06.1966г. он становится Харьковским институтом
    радиоэлектроники (ХИРЭ), на базе которого действовали следующие факультеты: </p>

  <ul>
    <li> - факультет автоматики и приборостроения - включал 8 кафедр; </li>
    <li> - радиотехнический факультет - включал 8 кафедр; </li>
    <li> - факультет вычислительной техники - включал 5 кафедр; </li>
    <li> - радиофизический факультет - включал 6 кафедр; </li>
    <li> - факультет электроники - включал 6 кафедр; </li>
    <li> - факультет горного машиностроения - включал 3 кафедры. </li>
  </ul>

  <p> В 1969 году на факультете происходят новые изменения. Из факультета автоматики и приборостроения он был переименован в
    факультет автоматизированных систем управления. Деканом назначается профессор, д.т.н. Свиридов В.В. (в дальнейшем возглавлявший
    наш ВУЗ до 1994 года). В 1975 году профилирующая кафедра факультета автоматики и телемеханики реорганизуется в кафедру
    автоматизированных систем управления.
  </p>

  <figure class="photo-container">
    <img src="/static/images/history/Sviridov.jpg" alt="Sviridov" />
    <figcaption> Профессор, д.т.н. Свиридов В.В. </figcaption>
  </figure>

  <p> С 1978 года деканом факультета АСУ становится профессор, к.т.н. Лукьянов Ю.П. </p>

  <figure class="photo-container">
    <img src="/static/images/history/Lukianov.jpg" alt="Lukianov" />
    <figcaption> Профессор, к.т.н. Лукьянов Ю.П. </figcaption>
  </figure>

  <p> В 1993 году Харьковский институт радиоэлектроники приобретает статус государственного и становится Харьковским государственным
    техническим университетом радиоэлектроники. </p>

  <p> В 1995 году в составе ХТУРЭ были образованы два учебных института: </p>

  <ul>
    <li> - институт КИТ (компьютерных информационных технологий); </li>
    <li> - институт РЭ (радиоэлектроники). </li>
  </ul>

  <p> С 1995 по 1999 возглавлял институт Юрий Петрович Лукьянов, а с 1999 по 2005 профессор, д.т.н. Виктор Макарович Левыкин.
  </p>

  <figure class="photo-container">

    <img src="/static/images/history/Levikin.jpg" alt="Levikin" />
    <figcaption> Профессор, д.т.н. Левыкин В.М. </figcaption>
  </figure>

  <p> Факультет автоматизированных систем управления был преобразован в факультет Компьютерных наук в составе института КИТ. Всего в институт вошло три факультета: </p>

  <ul>
    <li> - факультет КН (Компьютерных наук); </li>
    <li> - факультет КИУ (Компьютерной инженерии и управления); </li>
    <li> - факультет ГСМ (Прикладной математики и менеджмента). </li>
  </ul>

  <p> Деканом факультета КН в 1995 году становится профессор, к.т.н. Захарченко В.Ф. </p>

  <p> В 2000 году факультет компьютерных наук возглавляет профессор, д.т.н. Петров Е.Г. </p>

  <figure class="photo-container">
    <img src="/static/images/history/Petrov.jpg" alt="petrov" />
    <figcaption> Профессор, д.т.н. Петров Е.Г. </figcaption>
  </figure>

  <p> В 2001 году Харьковский государственный технический университет радиоэлектроники получил статус национального и стал Харьковским
    национальным университетом радиоэлектроники. Структура ХНУРЭ вернулась к факультетскому распределению. </p>

  <p> С 2003 года руководить факультетом компьютерных наук назначается профессор, д.т.н. Машталир В.П.  </p>

  <figure class="photo-container">
    <img src="/static/images/history/Mashtalir.jpg" alt="Mashtalir" />
    <figcaption> Профессор, д.т.н. Машталир В.П. </figcaption>
  </figure>

  <p> С 2015 года и по сегодняшний день в должности декана факультета КН работает профессор, д.т.н. Андрей Леонидович Ерохин. </p>

  <figure class="photo-container">
    <img src="/static/images/history/Yerokhin.jpg" alt="Yerokhin" />
    <figcaption> Профессор, д.т.н. Ерохин А.Л. </figcaption>
  </figure>

  <span> За 55 лет существования на факультете получили дипломы почти 7000 специалистов.  </span>

  <p> В настоящее время базовое образование - подготовка бакалавров осуществляется по направлениям: </p>

  <ul>
    <li> - Компьютерные науки </li>
    <li> - Компьютерные технологии и системы издательско-полиграфических производств </li>
    <li> - Информационные системы и технологии</li>
    <li> - Программная инженерия </li>
  </ul>

  <p> На основе бакалаврской подготовки студенты продолжают обучение на получение уровня магистр по специальностям: </p>

  <ul>
    <li> - Информационные управляющие системы и технологии </li>
    <li> - Управление проектами </li>
    <li> - Информационные технологии проектирования </li>
    <li> - Интеллектуальные системы принятия решений </li>
    <li> - Программное обеспечение автоматизированных систем </li>
    <li> - Компьютерные технологии и системы издательско-полиграфических производств </li>
  </ul>

  <p> Сегодня в состав факультета Компьютерных наук входят такие кафедры: </p>

  <ul>
    <li> - Кафедра информационно-управляющих систем (ИУС) </li>
    <li> - Кафедра медиасистем и технологий (МСТ) </li>
    <li> - Кафедра программной инженерии (ПИ) </li>
    <li> - Кафедра системотехники (СТ) </li>
    <li> - Кафедра искусственного интеллекта (ИИ) </li>
  </ul>

</article>