<article class="staticPage">
  <h2>Международное сотрудничество в области академического образования</h2>
  <ol>
    <li>Университет Ювяскуле, Финляндия – магистерская подготовка (второй диплом)</li>
    <li>FRUCT (Финляндия, Россия) - магистерская подготовка (второй диплом) в университетах Евросоюза, стажировки. </li>
    <li>Университет <a href="https://lnu.se/" target="_blank">Linnæus</a>, Швеция (совместно с каф. ПИ) – магистерская подготовка
      (второй диплом).</li>
    <li>IBM WORLD TRADE CORPORATION, США – тестирование, методики подготовки студентов по ИТ технологиям, сертификация по
      использованию ПО IBM</li>
    <li>ООО Профитсофт, VDataGmbH (Германия), PARALLAX SOFTWARE SOLUTIONS INC. (Канада) – факультативная подготовка студентов
      по технологиям программирования, тренинги, тестирование, чтение лекций</li>

  </ol>

  <h3>Научно-техническое международное сотрудничество</h3>
  <ol>
    <li>США (IBM WORLD TRADE CORPORATION)</li>
    <li>Финляндия (Университет Ювяскуле)</li>
    <li>Финляндия, Россия (Ассоциация FRUCT)</li>
    <li>Швеция (совместно с каф. ПИ Университет <a href="https://lnu.se/" target="_blank">Linnæus</a>)</li>
    <li>Германия (ООО Профитсофт) </li>
    <li>Канада (PARALLAX SOFTWARE SOLUTIONS INC..) </li>
  </ol>

  <h3>Получение сертификатов студентами</h3>
  <p>Кафедра сотрудничает с украинскими и зарубежными компаниями, принимает активное участие в международных программах по обмену
    студентами с университетами <a href="https://www.jyu.fi/en" target="_blank">Jyväskylä</a> (Финляндия) и <a href="https://lnu.se/"
      target="_blank">Linnæus</a> (Швеция).</p>

</article>
