<article class="staticPage">
  <h2>Научные журналы</h2>

  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/radioelektronika-i-informatika/" target="_blank" class="icon-link">Радиоэлектроника и информатика</a></h2>
    <p>Основан Харьковским государственным техническим университетом радиоэлектроники (ныне – ХНУРЭ) в 1997 году. Свидетельство
      о госрегистрации КВ № 12097-968ПР от 14.12.2006.</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/acs/" target="_blank" class="icon-link">Журнал АСУ</a></h2>
    <p>Полное название: Научно-технический журнал «Автоматизированные системы управления и приборы автоматики».</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/applied-electronics/" target="_blank" class="icon-link">Прикладная радиоэлектроника</a></h2>
    <p>Издание было основано в 2002 году, свидетельство о государственной регистрации – КВ № 6037 от 09.04.2002. Периодичность
      издания – 4 раза в год.</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/collegium/" target="_blank" class="icon-link">Новый коллегиум</a></h2>
    <p>«Новый Коллегиум» сегодня – это журнал для педагогов-профессионалов, педагогов-новаторов, молодых педагогов, для тех,
      кто стремится совершенствоваться в профессиональном мастерстве, кто хочет поделиться своим педагогическим опытом.</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/bionics-intelligence/" target="_blank" class="icon-link">Бионика интеллекта</a></h2>
    <p>Цель выхода в свет журнала «Бионика интеллекта» – популяризация и пропаганда в среде студентов, аспирантов, инженеров,
      научных работников новых научных направлений, технологий, идей, сближение теории с практикой.</p>
  </div>

</article>
