<article class="staticPage">
  <h2>Співпраця</h2>
  <section class="columns">
    <div>
      <p>Ми завжди раді зустрічам з випускниками і друзями нашого факультету.</p>
      <p>Ми пишаємось досягненнями і успіхами наших колишніх студентів.</p>
      <p>Ми готові прийти на допомогу та підтримати членів нашої асоціації.</p>
      <p>Ми пропонуємо на розгляд такі шляхи взаємодії:</p>
      <ol>
        <li>Організація зустрічей випускників з залученням колишніх викладачів та керівників факультету</li>
        <li>Проведення Днів відкритих дверей для випускників факультету та членів їх родин.</li>
        <li>Проведення майстер-класів для студентів факультету випускниками, що досягли високого рівня компетенції в професійній
          діяльності за напрямком КН</li>
        <li>Організація та проведення сумісних науково-практичних конференцій, семінарів, вебінарів з теперішніми фахівцями,
          що навчались на КН</li>
        <li>Ми готові направляти на навчально-виробничу практику к нашим випускникам теперішніх студентів</li>
        <li>Ми можемо рекомендувати кращих молодих випускників на роботу до старших і досвідчених.</li>
        <li>Ми розглянемо будь-які ваші пропозиції і знайдемо шляхи їх реалізації</li>
      </ol>
    </div>
    <address>
      <h2>Контакти</h2>
      <p>Головний корпус, 2 поверх, кiм. 261-263</p>

      <a href="tel:+380577021350">+38 (057) 702-13-50</a>
      <a href="mailto:f_cs@nure.ua">f_cs@nure.ua</a>
    </address>
  </section>

  <style>
    .columns {
      display: flex;
    }

    address {
      padding: 0 1rem;
      font-style: inherit;
      min-width: 11rem;
      background-color: #f9f6ed;
      border: 1px solid #f2ebd7;
      border-radius: 10px;
    }
  </style>
</article>