<article class="staticPage">
  <h2>Історія факультету комп’ютерних наук</h2>

  <p>Історія нашого факультету починається ще з далекого 1947 року, коли Харківський гірничо-індустріальний інститут реорганізується
    в Харківський гірничий інститут (ХГІ: 1947-1962 р.) і на його базі формуються 4 факультети:</p>

  <ul>
    <li>- факультет Гірської Автоматики, включав 8 кафедр і 2 спеціальності;</li>
    <li>- шахтобудівний факультет, включав 6 кафедр;</li>
    <li>- гірничо-електромеханічний факультет, включав 11 кафедр;</li>
    <li>- факультет промислового транспорту, включав 4 кафедри</li>
  </ul>

  <p>Перший 1947/1948 навчальний рік інститут почав з 800 студентами на всіх курсах. Набір відбувався в складних умовах – у
    Харкові з 27 середніх шкіл 20 шкіл були жіночими.</p>
  <p>В 1952/53 навчальному році на 4-х курсах ХГІ навчалося вже 2484 студенти.</p>
  <p>В 1958 році на факультеті Гірської Автоматики з”явилася нова спеціальність – Гірська автоматика й телемеханіка. </p>
  <p>Деканом факультету до 1962 року був професор, д.т.н. Тиховидов Б.Д.</p>
  <p>У цей період значно змінюється структура інституту, зменшується кількість факультетів до 3-х, однак, значно збільшується
    кількість спеціальностей, що випускаються. Наш факультет також піддається значним змінам – з факультету Гірської Автоматики
    він перетвориться у факультет Автоматики й приладобудування. </p>
  <p>Профілюючою кафедрою факультету була кафедра автоматики й телемеханіки, керована професором, д.т.н. Іванченко Е.Я. Деканом
    факультету стає доцент Михайлов В.А.</p>
  <p>В 1966 році знову відбувається реорганізація інституту. Наказом Мінвузу СРСР від 10.06.1966 р. він стає Харківським інститутом
    радіоелектроніки (ХИРЕ), на базі якого діяли наступні факультети:</p>

  <ul>
    <li>- факультет Автоматики й Приладобудування, включав 8 кафедр;</li>
    <li>- радіотехнічний факультет, включав 8 кафедр;</li>
    <li>- факультет обчислювальної техніки, включав 5 кафедр;</li>
    <li>- радіофізичний факультет, включав 6 кафедр;</li>
    <li>- факультет електроніки, включав 6 кафедр;</li>
    <li>- факультет гірського машинобудування, включав 3 кафедри.</li>
  </ul>

  <p>В 1969 році наш факультет знову піддається реорганізації. З факультету Автоматики й Приладобудування він був перейменований
    у факультет Автоматизованих Систем Управління. На посаді декана став працювати професор, д.т.н. Свиридов В.В. (який очолював
    наш ВУЗ до 1994 року). В 1975 році профілююча кафедра факультету Автоматики та телемеханіки реорганізується в кафедру
    автоматизованих систем управління.</p>

  <figure class="photo-container">
    <img src="/static/images/history/Sviridov.jpg" alt="Sviridov" />
    <figcaption>Професор, д.т.н. Свиридов В.В.</figcaption>
  </figure>

  <p>В 1993 році Харківський інститут радіоелектроніки здобуває статус державного й стає Харківським державним технічним університетом
    радіоелектроніки. </p>
  <p>З 1978 року деканом факультету АСУ стає професор, к.т.н. Лук'янов Ю.П.</p>

  <figure class="photo-container">
    <img src="/static/images/history/Lukianov.jpg" alt="Lukianov" />
    <figcaption>Професор, к.т.н. Лук'янов Ю.П.</figcaption>
  </figure>

  <p>В 1995 році в складі ХТУРЕ були утворені два навчальних інститути:</p>
  <ul>
    <li>- інститут КІТ (комп`ютерних інформаційних технологій);</li>
    <li>- інститут РЕ (радіоелектроніки).</li>
  </ul>

  <p>З 1995 по 1999 очолював інститут Юрій Петрович Лук'янов, а з 1999 по 2005 професор, д.т.н. Віктор Макарович Левикін.</p>

  <figure class="photo-container">
    <img src="/static/images/history/Levikin.jpg" alt="Levikin" />
    <figcaption>Професор, д.т.н. Левикін В.М.</figcaption>
  </figure>

  <p>Наш факультет Автоматизованих Систем Управління був перетворений у факультет Комп'ютерних наук у складі інституту КІТ, до
    якого входило три факультети:</p>

  <ul>
    <li>- факультет КН (Комп'ютерних наук);</li>
    <li>- факультет КІУ (Комп`ютерної інженерії й керування);</li>
    <li>- факультет ПММ (Прикладної математики й менеджменту).</li>
  </ul>

  <p>Деканом факультету КН в 1995 році стає професор, к.т.н. Захарченко В.Ф.</p>

  <p>В 2000 році факультет Комп’ютерних наук очолює професор, д.т.н. Петров Е.Г.</p>

  <figure class="photo-container">
    <img src="/static/images/history/Petrov.jpg" alt="Petrov" />
    <figcaption>Професор, д.т.н. Петров Е.Г.</figcaption>
  </figure>

  <p>В 2001 році Харківський Державний Технічний Університет Радіоелектроніки отримав статус національного і став Харківським
    Національним Технічним Університетом Радіоелектроніки. Структура ХНУРЕ повернулась до факультетського розподілу.</p>
  <p>З 2003 факультетом Комп’ютерних наук керував професор, д.т.н. Машталір В.П.</p>

  <figure class="photo-container">
    <img src="/static/images/history/Mashtalir.jpg" alt="Mashtalir" />
    <figcaption>Професор, д.т.н. Машталір В.П.</figcaption>
  </figure>

  <p>З 2015 року на посаді декана факультету КН працює професор, д.т.н. Андрій Леонідович Єрохін.</p>

  <figure class="photo-container">
    <img src="/static/images/history/Yerokhin.jpg" alt="Yerokhin" />
    <figcaption>Професор, д.т.н. Єрохін А.Л.</figcaption>
  </figure>

  <ul>
    <li>1962 р. – у ХІГМАОТі створено факультет автоматизації виробничих процесів в гірничій промисловості</li>
    <li>1966 р. – перейменовано у факультет автоматики і приладобудування</li>
    <li>1969 р. – факультет автоматизованих систем управління</li>
    <li>1995 р. – у складі Інституту комп’ютерних та інформаційних технологій отримав сучасну назву – факультет Комп’ютерних
      наук
    </li>
  </ul>

  <span>За 55 років існування на факультеті здобули спеціальність майже 7000 фахівців.</span>

  <p>Базова освіта – підготовка бакалаврів здійснюється за напрямами:</p>

  <ul>
    <li>- Комп’ютерні науки</li>
    <li>- Комп’ютеризовані технології та системи видавничо-поліграфічних виробництв</li>
    <li>- Інформаційні системи і технології</li>
    <li>- Програмна інженерія</li>
  </ul>

  <p>На основі бакалаврської підготовки студенти на рівні магістра продовжують навчання за спеціальностями:</p>
  <ul>
    <li>- Інформаційні управляючі системи та технології</li>
    <li>- Управління проектами</li>
    <li>- Інформаційні технології проектування</li>
    <li>- Інтелектуальні системи прийняття рішень</li>
    <li>- Програмне забезпечення автоматизованих систем</li>
    <li>- Комп’ютерні технології та системи видавничо-поліграфічних виробництв</li>
  </ul>

  <p>Сьогодні до складу факультету Комп’ютерних наук входять такі кафедри:</p>
  <ul>
    <li>- Кафедра інформаційно-управляючих систем (ІУС)</li>
    <li>- Кафедра медіасистем и технологій (МСТ)</li>
    <li>- Кафедра програмної інженерії (ПІ)</li>
    <li>- Кафедра системотехніки (СТ)</li>
    <li>- Кафедра штучного інтелекту (ШІ)</li>
  </ul>

</article>
