<Article class="staticPage">
  <h2> Міжнародне співробітництво в області академічної освіти </h2>
  <ol>
    <li> Університет Ювяскуле, Фінляндія - магістерська підготовка (другий диплом) </li>
    <li> FRUCT (Фінляндія, Росія ) - магістерська підготовка (другий диплом) в університетах Євросоюзу, стажування. </Li>
    <li> Університет <a href="https://lnu.se/" target="_blank">Linnæus</a>, Швеція (спільно з каф. ПІ) - магістерська підготовка
      (другий диплом). </li>
    <li> IBM WORLD TRADE CORPORATION, США - тестування, методики підготовки студентів з ІТ технологій, сертифікація по використанню
      пО IBM </li>
    <li> ТОВ ПРОФІТСОФТ, VDataGmbH (Німеччина), PARALLAX SOFTWARE SOLUTIONS INC. (Канада) - факультативна підготовка студентів
      за технологіями програмування, тренінги, тестування, читання лекцій </li>
  </ol>
  <h3> Науково-технічне міжнародне співробітництво </h3>
  <ol>
    <li> США (IBM WORLD TRADE CORPORATION) </li>
    <li> Фінляндія (Університет Ювяскуле) </li>
    <li> Фінляндія, Росія (Асоціація FRUCT) </li>
    <li> Швеція (спільно з каф. ПІ Університет <a href="https: //lnu.se/" target="_blank">Linnæus</a>)
    </li>
    <li> Німеччина (ТОВ ПРОФІТСОФТ) </li>
    <li> Канада (PARALLAX SOFTWARE SOLUTIONS INC ..) </li>
  </ol>
  <h3> Отримання сертифікатів студентами </h3>
  <p> Кафедра співпрацює з українськими та зарубіжними компаніями, приймає акт вное участь в міжнародних програмах з обміну студентами
    з університетами <a href="https://www.jyu.fi/en" target="_blank"> Jyväskylä </a> (Фінляндія) і <a href="https://lnu.se/"
      target="_blank"> Linnæus </a> (Швеція).
  </p>
</article>
