<article class="staticPage">
  <h2>Наукові журнали</h2>

  <div>
    <h2>
      <a href="http://nure.ua/university/structure/science/publications/radioelektronika-i-informatika/" target="_blank" class="icon-link">
        Радіоелектроніка та інформатика
     </a>
    </h2>
    <p>Заснований Харківським державним технічним університетом радіоелектроніки (нині - ХНУРЕ) в 1997 році. Свідоцтво про держреєстрацію
      КВ № 12097-968ПР від 14.12.2006.</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/acs/" target="_blank" class="icon-link">Журнал АСУ</a>      </h2>
    <p>Повна назва: Науково-технічний журнал «Автоматизовані системи управління і прилади автоматики».</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/applied-electronics/" target="_blank" class="icon-link">Прикладна радіоелектроніка</a></h2>
    <p>Видання було засноване в 2002 році, свідоцтво про державну реєстрацію - КВ № 6037 від 09.04.2002. Періодичність видання
      - 4 рази на рік.</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/university/structure/science/publications/collegium/" target="_blank" class="icon-link">Новий колегіум</a></h2>
    <p>«Новий колегіум» сьогодні - це журнал для педагогів-професіоналів, педагогів-новаторів, молодих педагогів, для тих, хто
      прагне вдосконалюватися в професійній майстерності, хто хоче поділитися своїм педагогічним досвідом.</p>
  </div>
  <div>
    <h2><a href="http://nure.ua/uk/university/structure/science/publications/bionics-intelligence/" target="_blank" class="icon-link">Біоніка інтелекту</a></h2>
    <p>Мета виходу в світ журналу «Біоніка интелекту» – популяризація та пропаганда в середовищі студентів, аспірантів, інженерів,
      наукових співробітників нових наукових напрямків, технологій, ідей, злиття теорії з практикою.</p>
  </div>

  </article
